{% macro fn_params(layout) %}{% if layout.is_bulk() %}{% for p in layout.params %}, {{ p.arg_type() }} {{ p.name }}{% endfor %}{% else %}, {{ fn.to_camel_case(name) }}& entity{% endif %}{% endmacro %}
{% macro fn_args(layout) %}{% if layout.is_bulk() %}{% for p in layout.params %}, {{ p.assignment_expression() }}{% endfor %}{% else %}, entity{% endif %}{% endmacro %}
{% macro ret(layout) %}{% if layout.is_bulk() %}ers::Result<Generator>{% else %}ers::Status{% endif %}{% endmacro %}
#include "{{ linked_header }}.g.hpp"

{% for name, type in include_groups %}
{% if fn.len(includes[name]) != 0 %}
// {{ name }}
{% for filename in includes[name] %}
{% if type == 'library' %}
#include <{{ filename }}>
{% elif type == 'project' %}
#include "{{ filename }}"
{% endif %}
{% endfor %}
{{ "\n" if not loop.last else "" }}{% endif %}
{% endfor %}

{% if not use_query_store %}
// Queries

{% for layout in table.layouts if layout.type %}
static constexpr std::string_view sql_{{ layout.name }} = R"__sql(
{{ queries[layout.name] }}
)__sql";
{% endfor %}
{% endif %}

// {{ name }}

{{ namespace }}::{{ fn.to_camel_case(name) }}::{{ fn.to_camel_case(name) }}({{ fn.to_camel_case(name) }}Values values) :
    {{ fn.to_camel_case(name) }}Values(std::move(values)) {
}
{{ namespace }}::{{ fn.to_camel_case(name) }}::{{ fn.to_camel_case(name) }}(const pqxx::row& row, const {{ fn.to_camel_case(name) }}Config& config) {
    this->init(row, config);
}

bool {{ namespace }}::{{ fn.to_camel_case(name) }}::init(const pqxx::row& row, const {{ fn.to_camel_case(name) }}Config& config) {
    dbio::PqxxRowStream stream(row);

{% for field in table.fields %}
    if (config[{{ fn.to_camel_case(field.name) }}] && !stream.store(this->{{ field.name }}))
        return false;

{% endfor %}
    return true;
}


// Database interactions

{% for layout in table.layouts if layout.type %}
{% if layout.is_bulk() %}
ers::Result<{{ namespace }}::{{ name}}::Generator> {{ namespace }}::{{ name }}::{{ layout.name }}_fn::operator()(pqxx::dbtransaction& tnx{{ fn_params(layout) }}) {
    auto content = _dbio(tnx{{ fn_args(layout) }});
    if (!content)
        return content.error();

    return Generator(*content, {{ fn.to_camel_case(name) }}::{{ fn.to_camel_case(layout.name) }});
}
ers::Result<pqxx::result> {{ namespace }}::{{ name }}::{{ layout.name }}_fn::_dbio(pqxx::dbtransaction& tnx{{ fn_params(layout) }}) ERS_DBIO_TRY_EVAL {
{% set sql_query = "dbio::queries[\"%s.%s\"]" % (name, layout.name) if use_query_store else "sql_%s" % (layout.name) %}
    return tnx.exec({{ sql_query }}{% if layout.params %}, pqxx::params {
{% for p in layout.params %}
        {{ p.name }}{{ "," if not loop.last else "" }}
{% endfor %}
    }{% endif %});
} ERS_DBIO_CATCH_EVAL_ERRORS
{% else %}
ers::Status {{ namespace }}::{{ name }}::{{ layout.name }}_fn::operator()(pqxx::dbtransaction& tnx{{ fn_params(layout) }}) {
    auto content = _dbio(tnx{{ fn_args(layout) }});
    if (!content)
        return content.error();

{% if fn.len(layout['get']) != 0 %}
    entity.init(content->one_row(), make_config<dbio::In>({{ fn.to_camel_case(name) }}::{{ fn.to_camel_case(layout.name) }}));

{% endif %}
    return ers::ok;
}
ers::Result<pqxx::result> {{ namespace }}::{{ name }}::{{ layout.name }}_fn::_dbio(pqxx::dbtransaction& tnx{{ fn_params(layout) }}) ERS_DBIO_TRY_EVAL {
{% set sql_query = "dbio::queries[\"%s.%s\"]" % (name, layout.name) if use_query_store else "sql_%s" % (layout.name) %}
{% set binds = layout['put'] + layout['condition'] if 'condition' in layout else layout['put'] %}
    return tnx.exec({{ sql_query }}{% if binds %}, pqxx::params {
{% for field in binds %}
        entity.{{ field }}{{ "," if not loop.last else "" }}
{% endfor %}
    }{% endif %});
} ERS_DBIO_CATCH_EVAL_ERRORS
{% endif %}
{{ "\n" if not loop.last else "" }}{% endfor %}


// Database interactions

namespace {{ namespace }}::{{ name }} {
{% for layout in table.layouts if layout.type %}
    {{ ret(layout) }} {{ layout.name }}(pqxx::dbtransaction& tnx{{ fn_params(layout) }}) {
        return dbio::fn::eval<{{ layout.name }}_fn>(tnx{{ fn_args(layout) }});
    }
    {{ ret(layout) }} {{ layout.name }}(dbio::tag::transaction_t, pqxx::dbtransaction& tnx{{ fn_params(layout) }}) {
        return dbio::fn::eval_with_transaction<{{ layout.name }}_fn>(tnx, "{{ fn.to_camel_case(name) }}/{{ fn.to_camel_case(layout.name) }}"{{ fn_args(layout) }});
    }
{{ "\n" if not loop.last else "" }}{% endfor %}
}
