{% macro fn_params(query) %}{% for param in query.params %}, {{ param.arg_type() }} {{ param.name }}{% endfor %}{% endmacro %}
{% macro ret(query) %}{% if query.kind == "rows" %}ers::Result<{{ query.struct_name }}Generator>{% elif query.kind == "row" %}ers::Result<{{ namespace }}::{{ query.struct_name }}>{% else %}ers::Status{% endif %}{% endmacro %}
#pragma once

{% for name, type in include_groups %}
{% if fn.len(includes[name]) != 0 %}
// {{ name }}
{% for filename in includes[name] %}
{% if type == 'library' %}
#include <{{ filename }}>
{% elif type == 'project' %}
#include "{{ filename }}"
{% endif %}
{% endfor %}
{{ "\n" if not loop.last else "" }}{% endif %}
{% endfor %}


// Result structs

namespace {{ namespace }} {
{% for query in queries if query.has_result() %}
    struct ERSLIB_EXPORT {{ query.struct_name }} {
{% for field in query.result %}
        {{ field.class_type() }} {{ field.name }} {};
{% endfor %}

        {{ query.struct_name }}() = default;
        explicit {{ query.struct_name }}(const pqxx::row& row);

        bool init(const pqxx::row& row);
    };
{{ "\n" if not loop.last else "" }}{% endfor %}
}


// Database interactions

namespace {{ namespace }}::{{ name }} {
{% for query in queries if query.is_bulk() %}
    using {{ query.struct_name }}Generator = {{ rt }}::RowGenerator<{{ namespace }}::{{ query.struct_name }}>;
{% endfor %}

{% for query in queries %}
    struct ERSLIB_EXPORT {{ query.name }}_fn {
        static {{ ret(query) }} operator()(pqxx::dbtransaction& tnx{{ fn_params(query) }});

    private:
        static ers::Result<pqxx::result> _dbio(pqxx::dbtransaction& tnx{{ fn_params(query) }});
    };
{{ "\n" if not loop.last else "" }}{% endfor %}
}

namespace {{ namespace }}::{{ name }} {
{% for query in queries %}
    {{ ret(query) }} ERSLIB_EXPORT {{ query.name }}(pqxx::dbtransaction& tnx{{ fn_params(query) }});
    {{ ret(query) }} ERSLIB_EXPORT {{ query.name }}({{ rt }}::tag::transaction_t, pqxx::dbtransaction& tnx{{ fn_params(query) }});
{{ "\n" if not loop.last else "" }}{% endfor %}
}
