{% macro fn_params(query) %}{% for param in query.params %}, {{ param.arg_type() }} {{ param.name }}{% endfor %}{% endmacro %}
{% macro fn_args(query) %}{% for param in query.params %}, {{ param.assignment_expression() }}{% endfor %}{% endmacro %}
{% macro ret(query) %}{% if query.kind == "rows" %}ers::Result<{{ namespace }}::{{ query.struct_name }}Generator>{% elif query.kind == "row" %}ers::Result<{{ namespace }}::{{ query.struct_name }}Results>{% else %}ers::Status{% endif %}{% endmacro %}
{% macro ret_def(query) %}{% if query.kind == "rows" %}ers::Result<{{ namespace }}::{{ query.struct_name }}Generator>{% elif query.kind == "row" %}ers::Result<{{ namespace }}::{{ query.struct_name }}Results>{% else %}ers::Status{% endif %}{% endmacro %}
#include "{{ linked_header }}.g.hpp"

{% for name, type in include_groups %}
{% if fn.len(includes[name]) != 0 %}
// {{ name }}
{% for filename in includes[name] %}
{% if type == 'library' %}
#include <{{ filename }}>
{% elif type == 'project' %}
#include "{{ filename }}"
{% endif %}
{% endfor %}
{{ "\n" if not loop.last else "" }}{% endif %}
{% endfor %}

// Result structs

{% for query in queries if query.has_result() %}
{{ namespace }}::{{ query.struct_name }}Results::{{ query.struct_name }}Results(pqxx::row_ref row) {
    init(row);
}

bool {{ namespace }}::{{ query.struct_name }}Results::init(pqxx::row_ref row) {
    {{ rt }}::PqxxRowStream stream(row);

{% for field in query.result %}
    if (!stream.store({{ field.name }}))
        return false;

{% endfor %}
    return true;
}
{{ "\n" if not loop.last else "" }}{% endfor %}


// Database interactions

{% for query in queries %}
{{ ret(query) }} {{ namespace }}::{{ name }}::{{ query.name }}_fn::operator()(pqxx::dbtransaction& tx{{ fn_params(query) }}) {
    auto r = _exec(tx{{ fn_args(query) }});
    if (!r)
        return r.error();
    return _process(*r);
}
{{ ret(query) }} {{ namespace }}::{{ name }}::{{ query.name }}_fn::operator()(dbio::tag::transaction_t, pqxx::dbtransaction& tx{{ fn_params(query) }}) {
    pqxx::subtransaction subtx(tx, label);
    auto r = _exec(subtx{{ fn_args(query) }});
    if (!r)
        return r.error();
    return _process(*r);
}

ers::Result<pqxx::result> {{ namespace }}::{{ name }}::{{ query.name }}_fn::_exec(pqxx::dbtransaction& tx{{ fn_params(query) }}) ERS_DBIO_TRY_EVAL {
    return tx.exec(dbio::queries["{{ name }}.{{ query.name }}"]{% if query.params %}, pqxx::params {
{% for param in query.params %}
        {{ param.name }}{{ "," if not loop.last else "" }}
{% endfor %}
    }{% endif %});
} ERS_DBIO_CATCH_EVAL_ERRORS

{{ ret_def(query) }} {{ namespace }}::{{ name }}::{{ query.name }}_fn::_process(const pqxx::result& content) {
{% if query.kind == "rows" %}
    return {{ query.struct_name }}Generator(content);
{% elif query.kind == "row" %}
    return {{ namespace }}::{{ query.struct_name }}Results(content.one_row_ref());
{% else %}
    return ers::ok;
{% endif %}
}
{{ "\n\n" if not loop.last else "" }}{% endfor %}


// Formatters

{% for query in queries if query.has_result() %}
std::format_context::iterator std::formatter<{{ namespace }}::{{ fn.to_camel_case(query.name) }}Results>::format(const {{ namespace }}::{{ fn.to_camel_case(query.name) }}Results& v, std::format_context& ctx) const {
    return std::format_to(
        ctx.out(),
        "{{ namespace }}::{{ fn.to_camel_case(query.name) }}Results [{% for param in query.params if param.name %}{{ param.name }} = {{ param.format_str() }}{{ ", " if not loop.last else "" }}{% endfor %}]",
{% for param in query.params if param.name %}
        {{ param.format_arg("v.") }}{{ "," if not loop.last else "" }}
{% endfor %}
    );
}
{{ "\n\n" if not loop.last else "" }}
{% endfor %}
